/*CSS RESET*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	overflow-x: hidden;
	min-width: 100%;
	scroll-behavior: smooth;
}

body {
	font-family: "Cinzel Decorative", sans-serif;
	background-image: url(https://wallpaperaccess.com/full/1679628.jpg);
	height: 100%;
}

#me2 {
	filter: drop-shadow(15px 15px 20px black);
	border-radius: 40px;
	margin-bottom: 15px;
}

#cards {
	filter: drop-shadow(30px 30px 25px black);
	border-radius: 30px;
	margin-bottom: 25px;
}

#card1 {
	filter: drop-shadow(10px 10px 15px darkgray);
	border-radius: 10px;
	margin-bottom: 25px;
}

#gmap {
    height: 100%;
    width: 100%;
    border-radius: 30px;
    filter: drop-shadow(20px 20px 25px black);
}

#hjpg {
	height: 750px;
}

.header {
	height: 800px;
	width: 100%;
}

.navbar {
	width: 100%;
}


#intro {
	margin-left: 10%;
	float: right;
	text-align: right;

}

#viking {
	float: left;
}

#introdiv {
	height: 900px;
	padding-top: 200px;
}

#fb, #ig {
	width: 40px;
	height: 40px;
}
